/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(125deg, #f6d365, #fda085);
  color: #3706ea;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem;
}

/* TO DO DIV */
.todo_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  border: 3px solid #3706ea;
}

.form-filter_container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 2rem;
  margin-right: 12rem;
}

/* Form CSS */
form {
  display: flex;
  margin-top: 2rem;
}

form input, 
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #f0f0f0;
}

form button {
  background-color: #f0f0f0;
  color: #3706ea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

form button:hover {
  background-color: #3706ea;
  color: #f0f0f0;
  transition: all 0.3s ease;
}

form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-align:left;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  width: 10rem;
  height: 3.4rem;
  background-color: #f0f0f0;
  font-size: 1rem;
  padding-left: 1rem;
  text-align:left;
  cursor: pointer;
}

.select {
  position: relative;
  margin-top: 2rem;
  margin-left: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9rem;
  background-color: #f0f0f0;
  pointer-events: none;
  color: #3706ea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: #3706ea;
  color: #f0f0f0;
  transition: all 0.3s ease;
}

/* TASKS DIV */
.todo-list_container {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo {
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  list-style: none;
  width: 30%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e8e4e4;
  font-size: 1.2rem;
  text-align: center;
}

.complete-btn,
.trash-btn {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.complete-btn {
  background-color: #3706ea;
}

.trash-btn {
  background-color: #3706ea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.complete-btn:hover {
  background-color: green;
  color: #3706ea;
  transition: all 0.3s ease;
}

.trash-btn:hover {
  background-color: #f0f0f0;
  color: #3706ea;
  transition: all 0.3s ease;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.checked {
  background-color: green;
}

.fall {
  transform: translateY(5rem) rotateZ(10deg);
  opacity: 0;
  transition: opacity 0.8s ease;
}






