/* Reset CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(125deg, #f6d365, #fda085);
  color: #3706ea;
  font-family: 'Poppins', sans-serif;
  
}

header {
  font-size: 2rem;
}

/* Form CSS */

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

form input, 
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #f0f0f0;
}

form button {
  background-color: #f0f0f0;
  color: #3706ea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #3706ea;
  color: #f0f0f0;
  transition: all 0.3s ease;
}

form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* DIV tasks */

.todo {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e8e4e4;
  font-size: 1.2rem;
  text-align: center;
}

.complete-btn,
.trash-btn {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.complete-btn {
  background-color: #3706ea;
}

.trash-btn {
  background-color: #3706ea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.complete-btn:hover {
  background-color: green;
  color: #3706ea;
  transition: all 0.3s ease;
}

.trash-btn:hover {
  background-color: #f0f0f0;
  color: #3706ea;
  transition: all 0.3s ease;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}